@charset "utf-8";

html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img,input,button { border:none; padding:0;margin:0;outline-style:none; }
ul, ol { list-style:none; }
input { -webkit-appearance:none; appearance:none; padding-top:0; padding-bottom:0; font-family: "Microsoft Yahei","ËÎÌå";}
select, input { vertical-align:middle;}  /*垂直对齐方式*/
select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; } 
img {border:0;  vertical-align:middle; }  
table { border-collapse:collapse; }
body {
    font:12px/150% "Microsoft Yahei",Arial,Verdana;
    color:#666;
    background: #efefef;
    cursor: default;
}
.clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}
a {color:#666; text-decoration:none; }
/*a:hover{color:#C81623;}*/
h1,h2,h3,h4,h5,h6 {text-decoration:none;font-weight:normal;font-size:100%;}
s,i,em{font-style:normal;text-decoration:none;}
.col-red{color: #bc2e2e!important;}

::-webkit-input-placeholder{ color:#999;}
input:disabled{ background:#FFF;}

/*版心盒子*/
.w {  
    width: 1000px;margin:0 auto;
}
.fl {
    float:left;
}
.fr {
    float:right;
}
.al {
    text-align:left;
}
.ac {
    text-align:center;
}
.ar {
    text-align:right;
}
.hide {
    display:none;
}


/*注册页面*/

.number {
    height: 130px;
}

.number .count {
    width: 300px;
    height: 80px;
    background: url(../images/sprite.png) no-repeat ;
    margin-top: 35px;
}

.number .register {
    width: 145px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    margin-top: 50px;
}

.number .register a {
    color: #ca5252;
}

.red-block {
    width: 1000px;
    padding-bottom: 55px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 3px 3px #cbc9c9;
    position: relative;
}

.red-block .top-title {
    padding: 44px 0 0 70px;
    color: #ca5252;
    font-size: 24px;
}

.red-block .m-content {
    height: 620px;
    margin-top: 40px;
}

.red-block .m-content .u-input {
    margin-top: 26px;
    width: 100%;
    float: left;
}

.red-block .m-content .u-input label {
    float: left;
    width: 340px;
    margin-top: 2px;
    text-align: right;
    font-size: 16px;
    line-height: 45px;
    color: #333;
}

.red-block .m-content .u-input input {
    float: left;
    width: 320px;
    height: 44px;
    border: 1px solid #ddd;
    font-size: 16px;
    color: #ccc;
    padding-left: 8px;
    box-sizing: border-box;
}

.red-block .m-content .u-input input.active {
    border-color: #4aafe9;
}

.red-block .m-content .u-input:nth-child(4) {
    margin-top: 0;
}

.red-block .m-content .u-input:nth-child(4) .input-yanzheng,.red-block .m-content .u-input:nth-child(4) label {
    padding-top: 12px;
    box-sizing: border-box;
}

.red-block .m-content .u-input:nth-child(4) .input-yanzheng {
    position: relative;
    float: left;
}

.red-block .m-content .u-input:nth-child(4) .input-yanzheng em {
    width: 320px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #a8a8a8;;
    border: 1px solid #cbcbcb;
    border-radius: 90px;
    display: inline-block;
}

.red-block .m-content .u-input:nth-child(4) .input-yanzheng img {
    position: absolute;
    left: 0;
    top: -95px;
    border-radius: 10px;
    display: none;
}

.red-block .m-content .u-input:nth-child(4) .input-yanzheng:hover img {
    display: block;
}

.red-block .m-content .u-input:nth-child(5),.red-block .m-content .u-input:nth-child(6) {
    margin-top: 20px;
}

.red-block .m-content .u-input:nth-child(6) {
    display: none;
}

.red-block .m-content .u-input:nth-child(6) .input-txt {
    float: left;
    width: 320px;
    border: 1px solid #ddd;
}

.red-block .m-content .u-input:nth-child(6) .input-txt .flag {
    float: left;
    width: 50px;
    height: 100%;
}

.red-block .m-content .u-input:nth-child(6) .input-txt .flag em {
    width: 16px;
    height: 11px;
    background: url(../images/flags.gif) no-repeat 0 -44px;
    display: inline-block;
    margin: 12px 5px 0 10px;
    vertical-align: middle;

}

.red-block .m-content .u-input:nth-child(6) .input-txt .flag u {
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: solid;
    border-color: #999 transparent transparent transparent;
    display: inline-block;
    vertical-align: middle;
    margin-top: 20px;
}

.red-block .m-content .u-input:nth-child(6) .input-txt input {
    float: left;
    width: 200px;
    border: none;
    padding-left: 4px;
}

.red-block .m-content .u-input:nth-child(7),.red-block .m-content .u-input:nth-child(8) {
    margin-top: 0;
    padding: 15px 0 17px;
    box-sizing: border-box;
    overflow: hidden;
} 

.m-content .u-input:nth-child(8) {
    display: none;
}

.red-block .m-content .u-input:nth-child(7) .input-find,.red-block .m-content .u-input:nth-child(8) .input-find {
    float: left;
    width: 300px;
    color: #999;
}

.red-block .m-content .u-input:nth-child(7) .input-find h5,.red-block .m-content .u-input:nth-child(8) .input-find h5 {
     color: #4cb5ff;
     margin-bottom: 5px;
     cursor: pointer; 
}

.red-block .m-content .u-input:nth-child(9) {
    margin-top: 0;
}

.red-block .m-content .u-input:nth-child(9) input {
     width: 190px;
}

.red-block .m-content .u-input:nth-child(9) button {
    float: left;
    width: 120px;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    margin: 0 10px;
    color: #fff;
    background: #9ec5e3;
    text-align: center;
    opacity: 0.6;
    cursor: pointer;
    text-align: center;
}

.red-block .m-content .u-input:nth-child(10) .enroll {
    float: left;
    width: 322px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    background: #ca5252;
     opacity: 0.6;
     
}

.red-block .m-content .u-input:nth-child(11) {
    margin-top: 0;
}

.red-block .m-content .u-input:nth-child(11) span {
    width: 322px;
    height: 100%;
    color: #b1b1b1;
    font-size: 12px;
    display: block;
    margin: 12px auto 0;
}

.red-block .m-content .u-input:nth-child(11) span input {
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    padding: 0;
    cursor: pointer;
    margin-top: 2px;
}

.red-block .m-content .u-input:nth-child(11) span input:checked {
    width: 16px;
    height: 16px;
    background: url(../images/sprite.png) no-repeat 0 -278px;
}

.red-block .m-content .u-input:nth-child(11) span label {
    float: none;
    width: 0;
    margin-left: 10px;
    font-size: 12px;
    line-height: 22px;
    color: #b1b1b1;
}

.red-block .m-content .u-input:nth-child(11) span label a {
     color: #b1b1b1;
}

.red-block .m-content .u-input:nth-child(11) span label a:hover {
    color: #666;
}

.bottom {
    display: block;
    width: 900px;
    height: 180px;
    margin: 20px auto 0;
    border-radius: 2px;
    overflow: hidden;
    position: initial;
    text-align: center;
}

.bottom span {
    width: 100%;
    height: 100px;
    background: #2a7fd3;
    display: block;
}

.bottom span em {
    display: block;
}


.footer .about {
    padding: 30px 0;
}

.footer .about p {
    padding-bottom: 10px;
    text-align: center;
    color: #b1b1b1;
}

.footer .about a {
    padding: 0 6px;
    color: #b1b1b1;
}

.footer .about a:hover {
    color: #ee8c18;
}



/*登录页面*/

.login-in {
    width: 100%;
    background: #fff;
}

.login-in .login-top {
    height: 50px;
    line-height: 50px;
}

.login-in .login-top i {

    width: 1px;
    height: 26px;
    background: #dfdfdf;
    display: inline-block;
    vertical-align: middle;
    margin:0 20px;
}

.login-in .login-top h2 {
    font-size: 23px;
    color: #323232;
   display: inline-block;
   vertical-align: middle;
}

.content {
    width: 100%;
    height: 512px;
    background: #39a6ec;
}

.content .login-txt {
    position: relative;
}

.content .login-txt .ad {
    width: 31px;
    height: 16px;
    background: url(../images/ad.bid.material_4e21914bec304f7ba6ccca14fd8ba79b.png) no-repeat;
    position: absolute;
    left: 0;
    bottom: 0;
}

.content .messages {
    width: 450px;
    padding-bottom: 20px;
    box-sizing: border-box;
    background: #e1f2fc;
    position: absolute;
    right: 0;
    top: 45px;
}

.content .messages ul {
    display: flex;
    box-sizing: border-box;

}

.content .messages ul li {
    flex: 1;
    text-align: center;
    background: #88caf3;
    border: 1px solid #39a6eb;
    padding: 16px 0 10px;
    box-sizing: border-box;
   
}

.content .messages ul li a {
    width: 100%;
    height: 100%;
    color: #323232;
    font-size: 22px;
    display: block;
    font-family: '微软雅黑';

}

.content .messages ul li:last-child {
    position: relative;
}

.content .messages ul li:last-child a i {
    width: 26px;
    height: 7px;
    background: url(../images/icon.png) no-repeat -270px 0;
    position: absolute;
    right: 14px;
    top: 18px;
}

.content .messages ul li.active {
     background: #e1f2fc;
     border-color: transparent;
}

.content .messages ol {
    margin-top: 35px;
    background: #000;
}

.content .messages ol li {
    float: left;

}

.content .messages ol li.auto .auto-tab {
    padding: 0 50px;
    box-sizing: border-box;
}

.content .messages ol li.auto .auto-tab .tab {
    width: 348px;
    height: 44px;
    background: #fff;
    border: 1px solid #c5cddb;
}

.content .messages ol li.auto .auto-tab .tab:nth-child(2) {
    margin-top: 16px;
}

.content .messages ol li.auto .auto-tab .tab:nth-child(3) {
    padding-top: 14px;
    background: #e1f2fc;
    border: none;
    position: relative;
}

.content .messages ol li.auto .auto-tab .tab:nth-child(3):hover .tab-big img {
    display: block;
}

.content .messages ol li.auto .auto-tab .tab:nth-child(3) .tab-big {
    height: 37px;
    background: #e1f2fc;
    border-radius: 90px;
    line-height: 37px;
    text-align: center;
    border: 1px solid #c5cddb;
    color: #a8a8a8;
}

.content .messages ol li.auto .auto-tab .tab:nth-child(3) .tab-big img {
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: -105px;
    display: none;
}

.content .messages ol li.auto .auto-tab .tab:nth-child(4) {
    margin-top: 18px;
    height: auto;
    background: transparent;
    border: none;
    color: #000;
}

.content .messages ol li.auto .auto-tab .tab:nth-child(4) i {
    width: 20px;
    height: 16px;
    background: url(../images/web.png) no-repeat -249px -405px;
    display: inline-block;
   vertical-align: middle;
}

.content .messages ol li.auto .auto-tab .tab:nth-child(4) a {
    color: #4aafe9;
}

.content .messages ol li.auto .auto-tab .tab:nth-child(5) {
    margin-top: 14px;
    line-height: 44px;
    background: #79b1d5;
    text-align: center;
    border: none;
    color: #c8dfe8;
    font-size: 20px;
}

.content .messages ol li.auto .auto-tab .tab span {
    width: 22px;
    height: 24px;
    background: url(../images/web.png) no-repeat -251px -86px;
    display: inline-block;
    margin: 10px;
}

.content .messages ol li.auto .auto-tab .tab:nth-child(2) span {
    background-position: -291px -86px;
}

.content .messages ol li.auto .auto-tab .tab input {
    width: 240px;
    height: 100%;
    vertical-align: top;
    color: #666;
    font-size: 14px;
}

.content .messages ol li.auto .auto-tab .about {
    margin-top: 30px;
    text-align: center;
}

.content .messages ol li.auto .auto-tab .about span {
    width: 1px;
    height: 11px;
    background: #d4cedc;
    display: inline-block;
    margin: 0 5px;
   vertical-align: middle;
}

.content .messages ol li.auto .auto-tab .about a {
    color: #406eba;
    font-family: '宋体';
}

.content .messages ol li.auto .auto-tab .about a:hover {
    color: #ee8c18;
}

.content .messages ol li.play {
    width: 100%;
    display: none;
}

.content .messages ol li.play .erweima-center {
    width: 100%;
    padding: 0 50px 20px;
    box-sizing: border-box;
    text-align: center;
    line-height: 0;
}

.content .messages ol li.play .erweima-center p {
    font-size: 14px;
    color: #000;
    font-family: '宋体';
}

.content .messages ol li.play .erweima-center p a {
    color: #406eba;
    font-weight: bold;
}

.content .messages ol li.play .erweima-center span {
    margin-top: 30px;
    display: block;
}

.content .messages ol li.play .erweima-center h6 {
    margin-top: 100px;
    font-family: '宋体';
}

.content .messages ol li.play .erweima-center h6 a {
    color: #406eba;
}

.content .messages ol li.play .erweima-center h6 a:hover {
    color: #ee8c18;
}

.content .messages ol li.play .erweima-center h6 em {
    width: 1px;
    height: 11px;
    background: #d4cedc;
    margin: 0 3px;
    display: inline-block;
}

.login-footer {
    padding-bottom: 40px;
    box-sizing: border-box;
    background: #fff;
    overflow: hidden;
}

.login-footer ul {
    padding: 52px 0 80px;
     box-sizing: border-box;
     overflow: hidden;
}

.login-footer ul li {
    float: left;
    margin-right: 3px;
}

.login-footer ul li:first-child {
    margin-right: 15px;
    position: relative;
}

.login-footer ul li:first-child u {
    width: 26px;
    height: 7px;
    background: url(../images/icon.png) no-repeat -270px 0;
    position: absolute;
    right: 0;
    top: 4px;
}

.login-footer ul li a {
    width: 100%;
    height: 100%;
}

.login-footer ul li a:hover span p {
    color: #ee8c18;
}

.login-footer ul li em {
    width: 51px;
    height: 50px;
    background: url(../images/icon.png) no-repeat 0 -150px;
    display: inline-block;
    float: left;
}

.login-footer ul li:first-child em {
    width: 49px;
    height: 49px;
    background: url(../images/gjApp.png) no-repeat;
    display: inline-block;
    float: left;
}

.login-footer ul li:nth-child(3) em {
    background-position: -120px -150px;
}

.login-footer ul li:nth-child(4) em {
    background-position: -60px -150px;
}

.login-footer ul li:nth-child(5) em {
    background-position: -240px -150px;
}

.login-footer ul li span {
    float: right;
    padding: 5px;
    box-sizing: border-box;
}

.login-footer ul li span p {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.login-footer ul li span i {
    font-size: 11px;
    color: #b9b9b9;
}

.login-footer .service {
    text-align: center;
    color: #949494;
}

.login-footer .service a {
    color: #949494;
    font-family: '宋体';
    vertical-align: middle;
}

.login-footer .service a:hover {
    color: #ee8c18;
}

.login-footer .service span {
    width: 4px;
    height: 1px;
    background: #949494;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
}

.login-footer .copyright {
    text-align: center;
    margin-top: 5px;
    color: #949494;
    font-family: '宋体';
}

.login-footer .copyright u {
    text-decoration: none;
    font-size: 18px;
   vertical-align: middle;
}